In [1]:
#Q4
def main():
    for i in range(1, int(input()) + 1):
        N,B,f = [int(s) for s in input().split(" ")]
        solve(N,B)

def solve(n,b):
    #getting columns of different
    querries = [(('0'*2**i+'1'*2**i)*(n//2**(i+1)+1))[:n] for i in range(5)]
    
    response = []
    for querry in querries:
        print(querry)
        response.append(input())
    q_col_it = zip(*querries) ##make into columns
    r_col_it = zip(*response) ##columns
    response_col = next(r_col_it) ##take first column
    bad = []
    for i,query_col in enumerate(q_col_it): ##i is the index that is forgotten
        if query_col==response_col:
            response_col = next(r_col_it,None)
        else:
            bad.append(i)
            
    print(*bad) ##if bad is a list, will print it's arguement
    input()

main()

In [2]:
querries = [(('0'*2**i+'1'*2**i)*(n//2**(i+1)+1))[:n] for i in range(5)]

In [3]:
querries

['01010101010101010101010101010101010101010101010101',
 '00110011001100110011001100110011001100110011001100',
 '00001111000011110000111100001111000011110000111100',
 '00000000111111110000000011111111000000001111111100',
 '00000000000000001111111111111111000000000000000011']

In [4]:
[(('0'*2**i+'1'*2**i)*(n//2**(i+1)+1)) for i in range(5)]

['0101010101010101010101010101010101010101010101010101',
 '0011001100110011001100110011001100110011001100110011',
 '00001111000011110000111100001111000011110000111100001111',
 '0000000011111111000000001111111100000000111111110000000011111111',
 '0000000000000000111111111111111100000000000000001111111111111111']

In [5]:
response = []
for querry in querries:
    print(querry)
    response.append(input())

01010101010101010101010101010101010101010101010101
101010101010101010101010101010101010101010101
00110011001100110011001100110011001100110011001100
011001100110011001100110011001100110011001100
00001111000011110000111100001111000011110000111100
111000011110000111100001111000011110000111100
00000000111111110000000011111111000000001111111100
000111111110000000011111111000000001111111100
00000000000000001111111111111111000000000000000011
000000000001111111111111111000000000000000011

In [6]:
response

['101010101010101010101010101010101010101010101',
 '011001100110011001100110011001100110011001100',
 '111000011110000111100001111000011110000111100',
 '000111111110000000011111111000000001111111100',
 '000000000001111111111111111000000000000000011']

In [27]:
q_col_it = zip(*querries)
r_col_it = zip(*response)
response_col = next(r_col_it)

In [26]:
response_col

('1', '0', '1', '0', '0')

In [28]:
for i in r_col_it:
    print(i)

('0', '1', '1', '0', '0')
('1', '1', '1', '0', '0')
('0', '0', '0', '1', '0')
('1', '0', '0', '1', '0')
('0', '1', '0', '1', '0')
('1', '1', '0', '1', '0')
('0', '0', '1', '1', '0')
('1', '0', '1', '1', '0')
('0', '1', '1', '1', '0')
('1', '1', '1', '1', '0')
('0', '0', '0', '0', '1')
('1', '0', '0', '0', '1')
('0', '1', '0', '0', '1')
('1', '1', '0', '0', '1')
('0', '0', '1', '0', '1')
('1', '0', '1', '0', '1')
('0', '1', '1', '0', '1')
('1', '1', '1', '0', '1')
('0', '0', '0', '1', '1')
('1', '0', '0', '1', '1')
('0', '1', '0', '1', '1')
('1', '1', '0', '1', '1')
('0', '0', '1', '1', '1')
('1', '0', '1', '1', '1')
('0', '1', '1', '1', '1')
('1', '1', '1', '1', '1')
('0', '0', '0', '0', '0')
('1', '0', '0', '0', '0')
('0', '1', '0', '0', '0')
('1', '1', '0', '0', '0')
('0', '0', '1', '0', '0')
('1', '0', '1', '0', '0')
('0', '1', '1', '0', '0')
('1', '1', '1', '0', '0')
('0', '0', '0', '1', '0')
('1', '0', '0', '1', '0')
('0', '1', '0', '1', '0')
('1', '1', '0', '1', '0')
('0', '0', '1', '1', '0')
('1', '0', '1', '1', '0')
('0', '1', '1', '1', '0')
('1', '1', '1', '1', '0')
('0', '0', '0', '0', '1')
('1', '0', '0', '0', '1')

In [29]:
ls = [1,2,3,4]

In [30]:
print(*ls)

1 2 3 4

In [31]:
print(ls)

[1, 2, 3, 4]